
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <video width="320" height="240" controls autoplay="autoplay">
        <source src="@Url.Action("Index","Video")" type="video/mp4">
    </video>
</body>
</html>